
ion-header{
    font-family: Arial, Helvetica, sans-serif;
}
.centro {
    padding: 10px;
    margin: auto;
    //background-color: lightblue;
    width: 40%;
    border: 3px solid rgba(111, 0, 255, 0.212);
    text-align: justify;
}

.titulo{
    margin: auto;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 30px;
}

.box_Foto{
    display: flex;
    justify-content: center;
}

.foto{
    border: solid 3px rgba(2, 2, 2, 0.397);
}