<ion-header>
  <ion-toolbar>
    <ion-title>Búsqueda de películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="cadenaBusqueda" (ionChange)="cargarBusqueda($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let pelicula of (peliculas | async)" [routerLink]="['/detalles', pelicula.imdbID]" class="item">
      <ion-avatar slot="start" *ngIf="pelicula.Poster !== 'N/A'">
        <img src="{{pelicula.Poster}}">
      </ion-avatar>
      <ion-icon slot="start" name="image" *ngIf="pelicula.Poster === 'N/A'"></ion-icon>
      <ion-label  >
        <h2>{{pelicula.Title}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
